<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
      <add name="SSRS_SERVER" connectionString="metadata=res://*/SSRSDB.csdl|res://*/SSRSDB.ssdl|res://*/SSRSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-SERVER\HOMESQL;initial catalog=ReportServer$HOMESQL;user id=SA;password=728652Hotdog;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="SSRSEntities" connectionString="metadata=res://*/DBFunctions.SSRS.csdl|res://*/DBFunctions.SSRS.ssdl|res://*/DBFunctions.SSRS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-SERVER\HOMESQL;initial catalog=ReportServer$HOMESQL;persist security info=True;user id=SA;password=728652Hotdog;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="ReportViewer.Properties.Settings.ReportServer_HOMESQLConnectionString" connectionString="Data Source=HOME-SERVER\HOMESQL;Initial Catalog=ReportServer$HOMESQL;User ID=sa;Password=728652Hotdog" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
