<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Stocky.Service.Reporting.Properties.Settings.ReportServer_HOMESQLConnectionString"
            connectionString="Data Source=HOME-SERVER\HOMESQL;Initial Catalog=ReportServer$HOMESQL;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>